@charset "UTF-8";
@layer;
@import "//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DNFBitBitv2';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype');
}

@font-face {
    font-family: 'PFStardust';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    @apply font-KoPubDotum;
}
